<!DOCTYPE html>

<!-- Formulario para agregar nuevas salas de escape -->

<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Sala</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Agregar una Nueva Sala</h1>
<form th:action="@{/salas/crear}" th:object="${sala}" method="post">

    <!-- Se completaron labels restantes y divisiones por campos -->

    <div>
        <label for="nombre">Nombre de la sala:</label>
        <input type="text" id="nombre" th:field="*{nombre}" name="nombre" required>
    </div>

    <div>
        <label for="capacidad">Capacidad:</label>
        <input type="number" id="capacidad" th:field="*{capacidad}" name="capacidad" required>
    </div>

    <div>
        <label for="dificultad">Dificultad:</label>
        <select id="dificultad" th:field="*{dificultad}" required>
            <option value="" disabled selected>Selecciona la Dificultad</option>
            <option value="1">Fácil</option>
            <option value="2">Medio</option>
            <option value="3">Difícil</option>
            <option value="4">Extremo</option>
            <option value="5">Pesadilla</option>
        </select>
    </div>

    <div>
        <label for="precio">Precio:</label>
        <input type="number" id="precio" th:field="*{precio}" name="precio" required>
    </div>

    <div>
        <label for="activo">Activo:</label>
        <input type="checkbox" id="activo" th:field="*{activo}" name="activo">
    </div>

    <div>
        <button type="submit">Agregar Sala</button>
    </div>
</form>
<a th:href="@{/}">Volver al Inicio</a>
</body>
</html>

