<!-- Agregar Sala - Crear una nueva sala de Escape -  Pendiente a modificar -->

<!DOCTYPE html>

<!-- Formulario para agregar nuevas salas de escape -->

<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Sala</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Agregar una Nueva Sala</h1>
<form th:action="@{/salas/crear}" th:object="${sala}" method="post">

    <!-- dividir por campos - se completan los labels restantes -->
    <label for="nombre">Nombre de la sala:</label>
    <input type="text" id="nombre" th:field="*{nombre}" name="nombre" required>


    <label for="capacidad">Capacidad:</label>
    <input type="number" id="capacidad" name="capacidad" required>

    <label for="dificultad">Capacidad:</label>
    <select id="dificultad" th:field="*{dificultad}" required>
        <option value="" selected disabled>Selecciona la Dificultad</option>
        <option value="1">facil</option>
        <option value="2">medio</option>
        <option value="3">dificil</option>
        <option value="4">extremo</option>
        <option value="5">pesadilla</option>
    </select>

    <label for="precio">Precio:</label>
    <input type="number" id="precio" th:field="*{precio}" name="precio" required>

    <label for="activo">Activo:</label>
    <input type="checkbox" id="activo" th:field="*{activo}" name="activo">

    <button type="submit">Agregar Sala</button>
</form>
<a th:href="@{/}">Volver al Inicio</a>
</body>
</html>
