<!-- Pendiente a modificar -->

<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sistema de reservas para salas de escape. Reserva tu experiencia de escape room ahora.">
    <meta name="keywords" content="escape room, reservas, juegos de escape, entretenimiento">
    <title>Sistema de Reservas de Salas de Escape</title>

    <!-- Vinculacion con CSS, se realiza en carpeta static y no en template el apartado de CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- Mostrar Salas - registro para reservas y salas aparte -->

    </head>
    <body>
    <div class="container">
        <header>
            <h1>Sistema de Reservas de Salas de Escape</h1>
            <p class="text-center">Gestiona tus salas de escape de manera fácil y eficiente</p>
        </header>

        <nav class="menu">
            <a class="menu-item" th:href="@{/salas/crear}">
                <i class="fas fa-plus-circle"></i>
                <h2>Agregar Sala</h2>
                <p>Crear una nueva sala de escape</p>
            </a>

            <a class="menu-item" th:href="@{/reservas/reservar}">
                <i class="fas fa-calendar-plus"></i>
                <h2>Reservar Sala</h2>
                <p>Hacer una nueva reservación</p>
            </a>

            <!-- Se modifica para vista de salas -->
            <a class="menu-item" th:href="@{/salas}">
                <i class="fas fa-clock"></i>
                <h2>Salas</h2>
                <p>Consulta total de las salas</p>
            </a>
        </nav>

        <footer>
            <p>&copy; 2024 Sistema de Reservas de Salas de Escape. Todos los derechos reservados.</p>
        </footer>
    </div>
    </body>
    </html>